body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
  background-color: black;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{color: rgb(255, 255, 255);
}

div {color: rgb(127, 127, 127);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
